:root {
    --light-gray: #d6dde4;
    --dark-gray: #667085;
    --transparent-dark-gray: rgba(102, 112, 133, .5);
    --transparent-darkest-gray: rgba(0, 11, 35, .5);
    --darkest-gray: rgba(0, 11, 35, 1);
    --primary: #19a3ff;
    --secondary: #1f705c;
    --transparent-white: rgba(255, 255, 255, .8);
    --white: #fff;
    --black: #000;
    --red: rgb(136, 8, 15);
    --extra-red: rgb(210, 8, 18);
    --header-height: 4rem;
    --logo-wight: 6rem;
    --title: Open Sans;
    --card-radius: 8px;
    --page-padding: min(2vh, 2rem);
    --page-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: BlinkMacSystemFont, Arial, sans-serif;
}

body {
    background-color: var(--light-gray);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    height: 0;
    border: none;
    border-bottom: 2px solid var(--transparent-darkest-gray);
}

.card {
    border-radius: var(--card-radius);
    box-shadow: 0px 0px 15px 3px var(--transparent-dark-gray);
    background-color: var(--white);
}

.general-main-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--title);
}

.general-title {
    font-size: 1.5rem;
    font-weight: 650;
    font-family: var(--title);
}

.general-subtitle {
    font-size: 1.2rem;
    font-weight: 550;
    font-family: var(--title);
}

.rating {
    color: var(--dark-gray);
    font-weight: 600;
}

svg.star {
    height: 1rem;
    width: 1rem;
    fill: var(--dark-gray);
    padding: 0 .2rem;
}

.medium-size-text svg.star {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0 .4rem;
}

svg.star.active {
    fill: var(--primary);
}

.stars svg.star:nth-child(2) {
    padding-right: 0;
}

.stars svg.star+svg.star {
    padding: 0;
}

.stars {
    display: flex;
}

.gray-text {
    color: var(--dark-gray);
}

.gray-underline-text {
    color: var(--dark-gray);
    text-decoration: underline;
    cursor: pointer;
}

.medium-size-text,
.medium-size-text * {
    font-size: 1.2rem;
}

.btn {
    cursor: pointer;
    padding: calc(0.6rem - 2px);
    border-radius: 8px;
}

.green-btn {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    color: var(--white);
}

.blue-btn {
    background-color: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);
}
