.form {
    display: flex;
    flex-direction: column;

    background-color: #d6dde4;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.goto-form .form-item input {
    display: block;
    
    border: 1px solid gray;
    border-radius: 5px;

    width: 100%;

    padding: 10px;
    margin: 10px auto;
}

.goto-form .form-submit input {
    width: 100%;
}

.goto-form .input-group-label {
    color: gray;
    font-family: sans-serif;
    font-size: 15px;
}

.goto-form .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goto-form .input-group-item {
    width: 100px;
    font-family: sans-serif;
    font-size: 15px;
}

.goto-form {
    display: block;
    width: 80%;
    max-width: 400px;
}

.goto-form .form-footer {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.goto-form .form-footer .forgot-password {
    margin: 0px auto;
}

.goto-form .form-footer .non-registered {
    margin: 10px auto 0px auto;
}

.goto-form .form-footer .register {
    margin: 0px auto;
}

.goto-form .form-footer .login {
    margin: 0px auto
}
