.list-of-places>.list {
    --card-size: 22rem;
    --card-description-size: 5;
    display: grid;
    padding: 2rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-size), var(--card-size)));
    gap: 2rem;
    justify-content: space-evenly;
}

.list-of-places .place-card {
    font-size: 1rem;
    height: var(--card-size);
    display: grid;
    grid-template-rows: 5fr 4fr;
}

.list-of-places .place-card section:first-child img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.list-of-places .place-card section:first-child p {
    text-align: center;
    width: 3rem;
    position: absolute;
    padding: .4rem 0 .3rem;
    margin: 1rem;
    font-weight: 600;
}

.list-of-places .place-card section:last-child {
    background-color: var(--white);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
    padding: .5rem .8rem;
}

.list-of-places .place-card section:last-child .card-description {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: var(--card-description-size);
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-line-clamp: var(--card-description-size);
    -moz-box-orient: vertical;

    display: -o-box;
    -o-line-clamp: var(--card-description-size);
    -o-box-orient: vertical;
    
    display: -ms-box;
    -ms-line-clamp: var(--card-description-size);
    -ms-box-orient: vertical;
}

.list-of-places .card-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: .5rem;
}

.list-of-places .rating {
    margin-left: 1rem;
}

.list-of-places-carousel {
    background-color: var(--dark-gray);
}

.list-of-places-carousel .slide {
    max-height: calc(80vh - var(--header-height));
}

.list-of-places-carousel .carousel-button-previous {
    left: .2rem;
}

.list-of-places-carousel .carousel-button-next {
    right: .2rem;
}
