.list-of-places {
    --card-size: 23rem;
    --card-radius: 20px;
    display: grid;
    padding: 2rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-size), var(--card-size)));
    gap: 1rem;
    justify-content: space-evenly;
}

.place-card {
    font-size: 1rem;
    height: var(--card-size);
    display: grid;
    grid-template-rows: 5fr 4fr;
    border-radius: var(--card-radius);
    border: 2px solid var(--dark-gray);
}

.place-card section:first-child img {
    display: block;
    min-height: calc(5*var(--card-size)/9);
    max-width: 100%;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
}

.place-card section:first-child p {
    text-align: center;
    width: 3rem;
    position: absolute;
    padding: .4rem 0 .3rem;
    background-color: var(--white);
    margin: 1rem;
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid var(--transparent-dark-gray);
}

.place-card section:last-child {
    background-color: var(--white);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
    padding: .5rem .8rem;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 2.5rem 1rem;
    margin-bottom: .5rem;
}

.card-rating {
    color: var(--dark-gray);
    font-weight: 600;
    margin-left: 1rem;
}
