.form {
    height: 100%;
    width: 100%;
    display: grid;
}

/* @media (min-width: 768px) {
    .form {
        grid-template-columns: 2fr 1fr;
    }
} */

@media (max-width: 768px) {
    .form .slider {
        display: none;
    }
}

.form .title {
    font-weight: 900;
    font-size: 2rem;
    color: var(--secondary);
    padding-top: 1rem;
}

.form .login,
.form .forgot-password {
    padding-top: .5rem;
}

.form .login:hover,
.form .register:hover,
.form .forgot-password:hover{
    cursor: pointer;
    color: var(--primary);
}

.form-submit input:hover {
    cursor: pointer;
}

.validation-error {
    color: var(--extra-red);
    text-align: center;
    padding-top: .5rem;
}
