.login .logo, .signup .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 1rem;
}

.login .logo img, .signup .logo img {
    display: block;
    width: 10rem;
}

.login .logo figcaption, .signup .logo figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.login .logo figcaption > *, .signup .logo figcaption > * {
    text-align: center;
    margin: auto;
}
