.place {
    --body-content-margin: 1rem;
    --info-content-margin: .5rem;
    --body-margin: 3vw;
    --info-padding: 1rem;
    --review-text-size: 8;

    display: grid;
    gap: var(--body-content-margin) 0;
    width: 100%;
    padding: var(--page-padding) 0;
}

.place-body-margin {
    margin: 0 var(--body-margin);
}

@media (max-width: 1000px) {
    .place-reviews a {
        text-align: end;
    }

    .place-work-schedule {
        padding: .5rem var(--body-margin);
    }

    .place-info {
        width: 100%;
    }

    .place-info img {
        margin-bottom: var(--body-content-margin);
    }

    .place-info .info .description {
        max-height: 12rem;
    }

    .place-reviews-header {
        display: grid;
        grid-template-columns: auto 1fr;
        text-align: end;
    }

    .write-review {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .write-review .btn {
        width: 100%;
        margin-top: var(--body-content-margin);
    }
}

@media (min-width: 1000px) {
    .place-work-schedule {
        padding: .5rem calc(2*var(--body-margin));
    }

    .place-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-left: var(--body-margin);
        margin-top: var(--body-content-margin);
        position: relative;
    }

    .place-info .info {
        position: absolute;
        height: 100%;
    }

    .place-info .info .description {
        max-height: calc(100%);
    }

    .place-reviews-header {
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: var(--body-content-margin);
    }

    .place-reviews-header .btn {
        margin-left: var(--body-margin);
    }

    .place .all-reviews-btn {
        width: fit-content;
    }
}

.place-reviews {
    display: grid;
    grid-template-columns: auto auto 1fr;
    margin-top: calc(var(--body-content-margin)/3);
}

.place-reviews a {
    margin-left: var(--body-content-margin);
}

.grid-bottom {
    align-items: end;
}

.place-work-schedule {
    background-color: var(--white);
}

.place-info img {
    width: 100%;
}

.place-info .info-container {
    height: 100%;
}

.place-info .info {
    box-sizing: border-box;
    padding: var(--info-padding);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: var(--info-content-margin);
    align-items: start;
}

.place-info .info .description {
    overflow-y: auto;
}

.place-info .contacts {
    display: flex;
}

.place-info .contacts p+p {
    width: max-content;
    padding-left: var(--body-content-margin);
}

.place .place-carousel .carousel-button-previous {
    left: 0;
}

.place .place-carousel .carousel-button-next {
    right: 0;
}

.place .slide {
    padding: var(--body-content-margin) 0;
}

.place .slide {
    height: 15rem;
}

.place .review-card {
    height: 15rem;
    box-sizing: border-box;
    padding: var(--body-content-margin);
    position: absolute;
    width: calc(100% - 2*var(--body-content-margin));
    left: var(--body-content-margin);
}

.place .review-card p {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: var(--review-text-size);
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-line-clamp: var(--review-text-size);
    -moz-box-orient: vertical;

    display: -o-box;
    -o-line-clamp: var(--review-text-size);
    -o-box-orient: vertical;

    display: -ms-box;
    -ms-line-clamp: var(--review-text-size);
    -ms-box-orient: vertical;
}
