.profile {
    width: 100%;
    display: flex;
    align-items: flex-end; /* Выравниваем содержимое вертикально по центру */
}

.profile-picture {
    text-align: left;
    margin-left: 6%;
    margin-top: 3%;
    padding: 0 3%; /* Добавьте отступ с левой стороны, если нужно */
}

.profile-picture img {
    width: 900px; /* Максимальная ширина фотографии (выберите желаемую ширину) */
    height: 700px;
    border-radius: 2%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.info-panel {
    text-align: left;
    padding: 0 20px; /* Добавьте отступ с левой стороны, если нужно */
    width: 40%; /* Занимает всю доступную ширину */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 700px;
}

.info-item p strong {
    font-weight: 900;
    font-size: 2rem;
    color: var(--secondary);
}

.info-item p {
    font-size: 2rem;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 25px;
}


.edit-buttons {
    display: flex;
    background-color: #afbfd1; /* Сохраняем цвет кнопок */
    justify-content: center;
    margin-top: 10px;
}

#save-button,
#cancel-button {
    flex: 1;
    margin: 5px;
    background-color: #afbfd1;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#save-button:hover,
#cancel-button:hover {
    background-color: #afbfd1;
}

@media (max-width: 768px) {
    .combined-section {
        width: 100%;
        margin: 20px;
        padding: 10px;
    }

    .edit-buttons {
        flex-direction: column;
        align-items: center;
    }
}

#save-button{
    background-color: var(--secondary);;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 420px;
    height: 55px;
    margin-right: 20px;
}

#cancel-button {
    background-color: white;
    color: var(--primary);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 420px;
    height: 55px;
}

/*
input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
}
*/

input[type="file"]#avatar {
    padding-top: 30px;
}

/* Стили для поля "О себе" в режиме редактирования */
textarea#aboutInput {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black; /* Либо замените на вашу границу */
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    white-space: pre-line; /* Перенос текста */
    vertical-align: top; /* Выравнивание текста вверх */
}

.profile-header {
    text-align: left;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture p {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    margin-top: 20px;
}

.edit-profile-button {
    background-color: white;
    color: var(--primary);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 100%;
    height: 55px;
}

@media (max-width: 768px) {
    .profile .slider {
        display: none;
    }
}

.profile-header h1 {
    font-weight: 900;
    font-size: 2rem;
    color: var(--secondary);
    padding-top: 1rem;
    margin-left: 25%;
}

.info-item p {
    font-size: 2rem;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 25px;
}

.profile-info {
    padding: 1rem;
}

.profile::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    background: #eaeaea;
    z-index: -1;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.profile::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40%;
    background: #afbfd1;
    z-index: -1;
}
