.profile {
    width: 100%;
    display: grid;
    gap: 2rem;
    /* align-items: flex-end; Выравниваем содержимое вертикально по центру */
}

.profile-picture {
    width: 100%;
    height: auto;
    text-align: left;
}

.profile-picture img {
    width: 100%;
}

.info-item {

    width: 100%;
    height: 100%;
}

.info-item p strong {
    text-align: left;
    font-size: 2rem;
    color: var(--secondary);
}

.info-item p {
    font-size: 2rem;
    width: 100%;
}

.edit-buttons {
    padding-top: 1rem;
    display: grid;
}

@media (max-width: 900px) {
    .combined-section {
        width: 100%;
        margin: 20px;
        padding: 10px;
    }

    .profile .slider {
        display: none;
    }

    .info-panel {
        min-height: fit-content;
    }

}

@media (min-width: 900px) {
    .profile {
        grid-template-columns: 4fr 6fr;
    }

    .edit-buttons {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .info-panel {
        margin-top: 18rem;
        height: calc(100% - 18rem);
    }
}

/*
input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
}
*/

input[type="file"]#avatar {
    padding-top: 30px;
}

/* Стили для поля "О себе" в режиме редактирования */
textarea#aboutInput {
    vertical-align: top;
}

.profile-header {
    text-align: left;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture p {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    margin-top: 20px;
}

.edit-profile-button {
    margin-top: 1rem;
    width: 100%;
}

.profile-header h1 {
    font-weight: 900;
    font-size: 2rem;
    color: var(--secondary);
    padding-top: 1rem;
    margin-left: 25%;
}

.info-item p+p {
    margin-top: 25px;
}

.profile-info {
    padding: 1rem;
}

.profile::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 20rem);
    background: #eaeaea;
    z-index: -1;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.profile::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20rem;
    background: #afbfd1;
    z-index: -1;
}