.review-card {
    --small-margin: .4rem;
    --margin: .8rem;
}

.review-card .review-card-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--small-margin);
    margin-bottom: var(--margin);
}
