.trips {
  --card-size: 20rem;

  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), var(--card-size)));
  gap: 2rem;
  justify-content: space-evenly;
}

.trip-card {
  width: var(--card-size);
  padding: .4rem 0 .3rem 0;
}

.trip-card-date {
  background-color: var(--secondary);
  color: var(--white);
}

