.carousel {
    --slider-width: 100%;
    --btn-size: 3rem;

    --slider-count: 0;
    --current-slide: 0;
    position: relative;
    overflow: hidden;
    width: var(--slider-width);
    margin: 0 calc((100% - var(--slider-width))/2);
}

.carousel-button {
    display: none;
    position: absolute;
    z-index: 1;
    justify-content: center;

    height: 100%;
    width: var(--btn-size);
    background-color: var(--transparent-darkest-gray);
    border: none;
    font-size: calc(var(--btn-size));
    cursor: pointer;

    transition: color 0.1s;
}

.carousel-button>p {
    color: var(--white);
    position: absolute;
    top: calc(50% - var(--btn-size) / 2);
}

@media screen and (min-width: 768px) {
    .carousel-button {
        font-size: calc(var(--btn-size)*2/3);
        width: calc(var(--btn-size)*2/3);
    }

    .carousel-button>p {
        top: calc(50% - var(--btn-size) / 4);
    }
}

.carousel-button:hover {
    color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
    right: 0;
}

.slides {
    display: flex;
    transition: transform 1s;
    transform: translateX(calc(-100% /var(--slider-count) * var(--current-slide)));
}

.slide {
    flex: 0 0 calc(100% /var(--slider-count));
}


.slide {
    width: 100%;
    display: flex;
    position: relative;
}

.slide img {
    width: 100%;
}

.slide>.desc {
    position: absolute;
    top: 10%;
    left: var(--btn-size);
}

.slide>.desc>p {
    -webkit-text-stroke: 1px var(--black);
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 1vw;
}

.slide>.desc>button {
    font-weight: 600;
    background-color: var(--transparent-darkest-gray);
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
}
