figure.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

figure.logo img {
    display: block;
    width: 10rem;
}

figure.logo figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

figure.logo figcaption > * {
    text-align: center;
    margin: auto;
}
